* {
    margin: 0;
}

nav {
    display: block;
    width: 100%;
    height: 20vh;
    position: relative;
    top: 0;
}

.text_bienvenida {
    color:  rgb(234, 234, 234);
    padding: 20px;
    text-align: center;
    font-size: 3em;
    transition: .7 all ease-in;
    animation-iteration-count: infinite;
}

.text_bienvenida:hover {
    color: rgb(228, 3, 115);
}


body {
    background-color: lightgoldenrodyellow;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
          font-family: 'Arial', sans-serif;
      }

      .calc_imc {

        padding: 20px;
      }
      
      .calculator {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px;
          max-width: 400px;
          margin: auto;
          padding: 20px;
          border: 10px solid #cccccc;
          border-radius: 8px;
          box-shadow: 0 4px 10px #333;
          background-color: rgb(109, 201, 196);
      }
      
      .display {
          grid-column: span 4;
          background-color: #f1f1f1;
          padding: 10px;
          text-align: right;
          font-size: 1.5em;
          min-height: 50px;
      }
      
    .button_calc {
          grid-column: span 1;
          padding: 10px;
          font-size: 1.2em;
          text-align: center;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: background-color 0.3s ease;
      }
      
      .button_calc:hover {
          background-color: rgb(128, 178, 190);
      }
      