* {
    margin: 0;
}

nav {
    display: block;
    width: 100%;
    height: 20vh;
    position: relative;
    top: 0;
}

.text_bienvenida {
    color:  rgb(234, 234, 234);
    padding: 20px;
    text-align: center;
    font-size: 2em;
    transition: .7 all ease-in;
    animation-iteration-count: infinite;
}

.hit-the-floor {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
    
    .hit-the-floor {
      text-align: center;
    }
    
    body {
      background-color: #f1f1f1;
    }


.text_bienvenida:hover {
    color: rgb(228, 3, 115);
}


body {
    background-color: lightgoldenrodyellow;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
          font-family: 'Arial', sans-serif;
      }


/*Seccion IMC*/

      .calc_imc {
        padding: 20px;
      }

      .resultado {
        margin: 20px auto;
        border: 2px solid #fff;
        background-color: lightblue;
        padding: 30px;
        text-align:left ;
      }
      



/*Calculadora */
      .calculator {
        width: 90%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px;
          max-width: 400px;
          margin: auto;
          padding: 20px;
          border: 10px solid #cccccc;
          border-radius: 8px;
          box-shadow: 0 4px 10px #333;
          background-color: rgb(109, 201, 196);
      }
      
      .display {
          grid-column: span 4;
          background-color: #f1f1f1;
          padding: 10px;
          text-align: right;
          font-size: 1.5em;
          min-height: 50px;
      }
      
    .button_calc {
          grid-column: span 1;
          padding: 10px;
          font-size: 1.2em;
          text-align: center;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: background-color 0.3s ease;
      }
      
      .button_calc:hover {
          background-color: rgb(128, 178, 190);
      }
      
    @media screen {
        .calculator {

        }
    } 
    {
        
    }